certifi==2021.10.8
charset-normalizer==2.0.11
click==7.1.2
et-xmlfile==1.1.0
fire==0.4.0
Flask==1.1.4
Flask-Cors==3.0.10
idna==3.3
itsdangerous==1.1.0
Jinja2==2.11.3
jsonlines==1.2.0
MarkupSafe==2.0.1
numpy==1.21.0
openai==0.13.0
openpyxl==3.0.9
pandas==1.4.0
pandas-stubs==1.2.0.45
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
six==1.16.0
termcolor==1.1.0
tqdm==4.62.3
urllib3==1.26.8
Werkzeug==1.0.1
