.container {
  font-family: Helvetica;
  margin: 50px;
  font-size: 16px;
}

.footer {
  font-family: Helvetica;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #aaa;
  text-align: center;
  font-size: 13px;
}
.footer a {
  color: #aaa;
}
.footer a:hover {
  color: #666;
}

div.center {
  /* Center horizontally*/
  text-align: center;
}

h1 {
  font-size: 28pt;
  margin-bottom: 5px;
}

button {
  font-family: Helvetica;
  background-color: white;
  border: solid 1px black;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  background-color: #ddd;
}
input {
  padding: 5px;
  font-family: Helvetica;
  font-size: 16px;
  color: #555555;
  border: solid 1px black;
  border-radius: 5px;
  width: 283px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc;
}

table {
  color: #555;
  margin: auto;
}

table td {
  text-align: left;
  padding: 0px;
}
table td.emoji {
  width: 40px;
}
table td.message {
   width: 250px;
   color: #999;
}
table td.score {
  text-align: right;
  width: 75px;
}

table td.emoji button {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 1.5em;
  border: none;
}

table td.emoji button:hover {
  background-color: white;
}

